.campus_mainDiv{
    border: 7px solid royalblue;
}
.campus_mainDiv img{
    width: 100%;
}
.campus_mainDiv h5,.campus_mainDiv p{
    margin: 20px;
}
.movie_head{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.movie_head i{
    float: right;
}
.movie_text span{
    color: #E6CA17;
}
#contact iframe{
    width: 100%;
}